# Deny access to .htaccess
<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>

# Deny access to files with extensions .php, .html, .js, .css
<FilesMatch "\.(php|html|js|css)$">
    Order allow,deny
    Allow from all
</FilesMatch>

# Prevent directory listing
Options -Indexes

# Redirect all requests to index.php if file/directory doesn't exist
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ dashboard.php [L]
</IfModule> 